<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fuel Stations Ireland
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Select County</ion-label>
    <ion-select placeholder="Select..." [(ngModel)]="selectedCounties" interface="popover"
      multiple="true" (ionDismiss)="onCountyChange()">       
      @for (county of counties; track county) {
        <ion-select-option [value]="county.value">
          {{ county.label }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

  
</ion-content>